/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.card,
.duaa-card,
.surah-card {
  width: 100%;
  max-width: 450px;
  margin: auto;
}